@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'FontsCordel';
    src: url('../assets/fonts/ELDESCORDEL.OTF') format('truetype');
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    font-family: 'FontsCordel', sans-serif;
}